[2018-08-31 09:59] damir-manapov opened #2 "Trouble when generating with string type definitions"
Hi!

I'm have trouble when generating with string type definitions.
Example of swagger.json:
[code]

Error:
[code]

[2018-08-31 13:58] Manweill commented on #2
I have not seen such a structure. How do you got it

[2018-08-31 14:28] damir-manapov commented on #2
There it is: https://swagger.io/docs/specification/2-0/enums/
It may be used as usual definition: https://app.swaggerhub.com/apis/LearningTech/EnumExample/0.0.1

[2018-08-31 14:30] damir-manapov commented on #2
@Manweill perfect!
Will it work for https://api.swaggerhub.com/apis/LearningTech/EnumExample/0.0.1 ?

[2018-08-31 14:53] Manweill commented on #2
when you use swagger in your application，it is like this
[code]

[2018-08-31 15:38] damir-manapov commented on #2
Ok, @Manweill
It will be great if such swagger works

[2018-09-03 11:27] ruschka opened #3 "Unsupported type definition"
Hi,
consider following swagger example:

[code]

Method createDefinitionClass in definitionCodegen.ts expects all types have property properties, but array doesn't. Generation with such swagger file fails with error:

[code]

[2018-09-04 00:42] Manweill commented on #3
It is usually not like this, you can see [example](https://github.com/Manweill/swagger-axios-codegen/blob/master/example/swagger.json).
But, I will fix this issue in next version

[2018-09-14 00:37] damir-manapov commented on #2
Hi!
How long it might take to fix this?

[2018-10-01 12:07] kt81 opened #6 "Proposal: Add functionality to pass default axios instance to generated services"
Hi, thank you for the great library.

I'm trying to use this library with Nuxt.js and `@nuxtjs/auth`.
The module set the authentication header to nuxt's $axios intance automatically when auth succeed.

I would like to set this instance into the service classes that are generated by the codegen.
How about adding the functionality like this?

The code following is example:

[code]

[code]

[2018-10-05 10:18] Manweill commented on #6
In `swagger-axios-codegen`, `Axios` also use global config.
But , I think the custom instance passed by `Service` constructor

[2018-10-15 00:39] Manweill opened #7 "support babel-plugin-import"
About support babel-plugin-import，What do you think

@kt81

[2018-10-24 01:34] Manweill commented on #6
@kt81 ,do you implement this feature?

[2018-10-24 02:52] kt81 commented on #7
I have never used that library.
I guess it will provide the ability to split a service classes?
If so, I think it is nice.

[2018-10-24 02:55] kt81 commented on #6
@Manweill
I have already implemented it. (and using it locally)
If you think okay to adopt this functionality, I will send the PR.

[2018-10-24 03:33] Manweill commented on #7
`babel-plugin-import`  can reduce the bundle size significantly, depending on your usage of the library.
Split service requires codegen to provide.
In codegen v0.3， I will implement it.
But, if split with service classes, the ref models will repeated appearance in service class; if split with class (includes definitions and service class), it will generate very many files, for example in my servic

[2018-10-24 03:37] Manweill commented on #6
@kt81
I coding v0.3, can you send the PR after then me ?

[2018-10-24 04:46] kt81 commented on #7
Thank you for explanation.
My service file has very fewer services and models than yours
so I don't care about separating or not. But it is nice to have ability to separate service and reduce the bundle size, It think.

IMO the best way is separating file and `babel-plugin-import` support are implemented as OPTION.

（我不是很擅长英文和中文，所以如果我误解了这个意思，我很抱歉）

[2018-11-26 18:07] morbalint opened #9 "Trouble with generating an array of number enums"
The generator removes an array from the swagger.json schema when the array contains a number enum.
simplified example:
[code]

the generated class will look something like this:
[code]

Sorry for the low quality example :(

I believe, I have found the error, and I will create a PR later.

Can you confirm its still an issue in your latest development branch ?

[2018-11-27 00:29] Manweill commented on #3
fix in 0.3

[2018-11-27 00:29] #3 closed

[2018-11-27 00:31] Manweill commented on #2
fix in 0.3

[2018-11-27 00:31] #2 closed

[2018-11-27 01:06] Manweill commented on #9
Sure, I will confirm it

[2018-11-27 03:19] Manweill commented on #9
I fix it ,it will generate like this:
[code]

[2018-11-27 06:50] morbalint commented on #9
Thank you!

[2018-11-27 06:54] Manweill commented on #9
You are welcome!
Thank you for your interest in this library and application to the actual project.

[2018-11-27 08:17] morbalint commented on #9
Hi!

I tried, your fix and found an error with it. When you have more than one number enum, the generator does not separate the types and creates file with wrong syntax.

Created pull request with example to show, and a fix.

Should, this be a separate issue, or can we track it in this one?

Also, what is your release process, should I increase the version number and add the issue to the changelog

[2018-11-27 08:34] Manweill commented on #9
I reopen this issue.
When i publish, I will test the example with the generator.
The test is passed, add the issue to the changelog and increase the version

[2018-11-28 11:03] Manweill commented on #9
@morbalint
The PR #11 need me publish now?

[2018-12-22 16:51] #9 closed

[2019-02-26 14:51] Formyown opened #12 "Add baseUrl option into ISwaggerOptions"
I know there is a way to customize base url for all APIs, but it's better to add an option into ISwaggerOption. Cause most time we need to specify the backend server host and port.

What I want is some thing looks like:
[code]
and I look through the source code, there may useless tips(lol):
[code]

[2019-02-27 02:08] Manweill commented on #12
@Formyown
If u use `Axios`, u can set baseUrl  like
[code]
or
[code]

[2019-02-27 03:11] #12 closed

[2019-02-27 09:05] lamuertepeluda opened #13 "Cannot read property 'imports' of undefined"
Hi,

I think you should add a check at this line of code https://github.com/Manweill/swagger-axios-codegen/blob/master/src/requestCodegen/index.ts#L54 and line above, like

[code]

I get this error
[code]

which is also swallowed, i.e. `codegen()` does not throw, but also does not generate the api.

[2019-02-28 00:00] Manweill commented on #13
@lamuertepeluda
Hi, can you send your swagger.json to me

[2019-02-28 07:20] lamuertepeluda commented on #13
hi @Manweill , it's at this [URL](https://backend.visca.cloud/dev/swagger-spec.json). I tried with both remoteURL and file options, same result.

[2019-03-01 01:20] Manweill commented on #13
@lamuertepeluda
Hei, you can try `swagger-axios-codegen@v0.5.1` again.

[2019-03-01 06:30] Manweill commented on #13
@lamuertepeluda
Hi, I fix `imports` bug in `v0.5.1`.
BTW, when I try with your `swagger-spec.json`  file, I find another problem.
One tag like `Irrigation Block` , it has whitespace.
One type like this :
[code]

[2019-03-01 09:11] lamuertepeluda commented on #13
Hi @Manweill,

thanks for investigating.
I downloaded the latest version an it still occurs that it's swallowing exception, making it harder to debug, i.e. [this line](https://github.com/Manweill/swagger-axios-codegen/blob/ce1650b0fd9f953820479a329408d2e5e447eb0e/src/index.ts#L171) should definitely `throw` the error, in a way that a user program can detect its failure state.

Maybe even better st

[2019-03-01 09:24] lamuertepeluda opened #14 "A couple of suggestions"
Hi @Manweill ,

it's me again. Since I found it hard debugging for #13 , I have a couple of improvements that I'd suggest you to add when you have time.

### Add Source Maps

I suggest you to add a tsconfig.json file with `compilerOptions.sourceMap: true`, or alternatively add `--sourceMap=true` to the [build](https://github.com/Manweill/swagger-axios-codegen/blob/master/package.json#L20) npm scri

[2019-03-01 15:48] Manweill commented on #14
Hi @lamuertepeluda
In previous versions, the `swagger-axios-codegen` had sourceMap in lib.
However, I also use [`yarn link`](https://yarnpkg.com/en/docs/cli/link) to debugging.
And then,I delete the  `sourceMap` in package.
I will add `sourceMap` in next version.

About template library, welcome PR.

[2019-03-01 16:38] Manweill commented on #13
Thanks for suggestion.
Let's look at each problem.
First, we can also replace spaces when the classname had whitespace.
Then, I search `geoJSON geometry` type. It dose not a base type in JS/TS. It need a method to tell the `codegen`, how it transform this type.
If these two problems are solved, continue to execute

[2019-03-01 16:48] lamuertepeluda commented on #13
While the spaces problems looks simpler to be solved, how about setting a default type for all non-base JS/TS types?
I know it is less accurate, but `Object` or `any` should work.
Sadly  I don't think it's feasible to include type definitions through swagger.

Another solution may be using some generic, like `GeneratedClass<T>`, but it is not really easy to think about it in a way that actually wo

[2019-03-01 17:14] Manweill commented on #13
emm...
In `Utils.toBaseType`, return default type `any` .
You can do this for the time being.

BTW, how about I provide an entry for a custom transform method

[2019-03-01 17:16] lamuertepeluda commented on #13
this could definitely work, if you know the generated types in advance. But I would fallback with Object or any when not transformer is provided.

[2019-03-02 06:24] Manweill commented on #13
Test in your project and commit PRs

[2019-03-03 03:54] Manweill commented on #13
Hi @lamuertepeluda

I double check your swagger.json. Your api was RESTful api. But it doesn't had `operationId` in the `swagger.json`

[2019-03-04 08:25] lamuertepeluda commented on #13
Hi @Manweill you are indeed right, we are not (yet) using operationId in that API.
I must definitely rely on the `path` method

[2019-03-08 08:11] zaaack opened #17 "Need normalize class name and perhaps other names"
error { SyntaxError: '{' expected. (2376:17)
  2374 |
  2375 |

       |                 ^
  2377 |
  2378 |
  2379 |
    at e (/Users/z/Projects/Node/turtle/node_modules/prettier/parser-typescript.js:1:267)
    at Object.parse (/Users/z/Projects/Node/turtle/node_modules/prettier/parser-typescript.js:1:2172547)
    at Object.parse$2 [as parse] (/Users/z/Projects/Node/turtle/node_modules/prettier/i

[2019-03-08 08:13] zaaack opened #18 "duplicate methods"
If path has several method like, '/orders': { get, post, put, delete}, it will generate duplicate method, perhaps we need to add the HTTP method in the class method.

[2019-03-08 08:17] Manweill commented on #18
if your webapi is RESTful, you must provide the operationId in your interface definition

[2019-03-08 08:17] Manweill commented on #17
The master branch is fix this issue

[2019-03-08 08:24] #18 closed

[2019-03-08 08:24] #17 closed

[2019-03-08 08:34] Manweill commented on #17
@zaaack v0.5.2 was published

[2019-03-20 11:09] kpietrzak-web opened #19 "v.enum.map is not a function"
Error appears in swagger-axios-codegen/dist/definitionCodegen/propTrueType.js:50:34

If enum is swagger output is defined as object instead of array codegen shows this message.

Solution is:
[code]

[2019-03-20 11:13] kpietrzak-web opened #20 "Cannot convert undefined or null to object"
Error appears in swagger-axios-codegen/dist/definitionCodegen/createDefinitionClass.js:19:39

when:
if in swagger output I have definition without properties. If definition contains even empty properties it works

example:
[code]
    const propertiesEntities = Object.entries(properties);
[code]
    const propertiesEntities = Object.entries(properties || {});
[code]

[2019-03-20 14:56] Manweill commented on #20
@kpietrzak-web
Wecome PR.

[2019-03-20 14:57] Manweill commented on #19
@kpietrzak-web
Wecome PR.

[2019-03-24 07:07] Manweill commented on #19
@kpietrzak-web
Hi, can you give me a swagger of you

[2019-03-24 07:36] Manweill commented on #20
fix in v0.5.3

[2019-03-24 07:36] #20 closed

[2019-03-24 07:36] Manweill commented on #19
fix in v0.5.3

[2019-03-24 07:36] #19 closed

[2019-04-27 01:21] heavenkiller2018 opened #21 "can't support openapi3.0"
when i use  a json file with openapi3.0, like:

{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Swagger Petstore",
    "description" : "This is a sample Petstore server.  You can find\nout more about Swagger at\n[http://swagger.io](http://swagger.io) or on\n[irc.freenode.net, #swagger](http://swagger.io/irc/).\n",
    "termsOfService" : "http://swagger.io/terms/",
    "contact" : {
      "ema

[2019-04-28 14:43] Manweill commented on #21
@heavenkiller2018
emmm, it dose not support swagger3.0 now.

[2019-05-05 06:10] litianyiliwei opened #22 "can't support Generics"
like

		"ClientResult«AuthUserDTO»": {
			"type": "object",
			"properties": {
				"data": {
					"$ref": "#/definitions/AuthUserDTO"
				},
				"msg": {
					"type": "string"
				},
				"success": {
					"type": "boolean"
				}
			},
			"title": "ClientResult«AuthUserDTO»"
		}

[2019-05-05 09:18] #14 closed

[2019-05-05 09:23] Manweill commented on #22
`Generic` class is define  like `PagedResultDto[AlertMessageOutput]`

[2019-05-09 09:04] #21 closed

[2019-05-09 09:05] Manweill commented on #13
The issue was too long

[2019-05-09 09:05] #13 closed

[2019-05-09 09:06] #22 closed

[2019-05-22 10:59] SpearThruster opened #23 "Generated file (service/index.ts) should be TypeScript strict mode complaint"

[2019-05-22 12:41] Manweill commented on #23
What problems are you currently experiencing?

[2019-05-22 12:55] SpearThruster commented on #23
Basically the fields generated on the class are being set via a `data` object (which is any) and there is a `key/string` iteration to set the field values. TypeScript complains that there is no gurantee that all fields will be set.

The workaround is to set `strict: false` in `tsconfig.json` which opens another can of worms.

[2019-05-22 13:06] Manweill commented on #23
@SpearThruster
Okey,  I see.
And then,  I will optimize it on the next version. can you set `strict: false` some days?
Or, you can push `PR` with it.

[2019-05-23 08:59] Manweill commented on #23
Fixed in ` Ver 0.5.04`

[2019-05-23 08:59] #23 closed

[2019-05-23 12:39] SpearThruster opened #24 "Prefer 'as any' instead of '<any>' when doing type assertions @typescript-eslint/no-angle-bracket-type-assertion"

[2019-05-23 12:43] Manweill commented on #24
Adjust your rules or exclude the file

[2019-05-23 12:43] #24 closed

[2019-05-23 12:46] SpearThruster commented on #24
Hi @Manweill ,

Sadly those rules are not configurable (from create-react-app) and this suggestion is also supported by TS core team. I can submit a PR.

[2019-05-23 13:10] Manweill commented on #24
👌

[2019-06-22 05:25] #7 closed

[2019-07-01 09:55] AI-pig opened #26 "When do you support return value types"

[2019-07-02 01:11] Manweill commented on #26
what is the problem

[2019-08-05 08:19] perminov-aleksandr commented on #26
Hello, im not a author of issue, but i struggle with the same problem.
Generated class does not contain types for result when it is specified.
For example, i have a path in specification file that returns array of AppRole type:
[code]

but result is generated service method without type, just Promise of **any**

[code]

[2019-08-05 08:53] Manweill commented on #26
@perminov-aleksandr
ok, I see;

[2019-08-05 09:44] #26 closed

[2019-08-05 09:48] Manweill commented on #26
@perminov-aleksandr @AI-pig fix in v0.5.7

[2019-08-07 19:49] arkraft opened #27 "Unnecessary `console.log`"
There is a `console.log` which is not needed and writes some data which just confused me when i used it the first time.

https://github.com/Manweill/swagger-axios-codegen/blob/0a3703f7b3b151bd509adba41ca0246e5becf052/src/requestCodegen/index.ts#L57

[2019-08-08 02:21] Manweill commented on #27
@arkraft removed

[2019-08-08 02:22] #27 closed

[2019-08-08 06:08] arkraft opened #28 "Translates boolean parameter type to any"
First of all, thank you for this codegen and the time you put into it.

I have a problem converting boolean parameter types. They are correctly defined as boolean in the swagger.json file, but the generated client replaces them with `any`:

[code]

and this is the generated method:

[code]

The notifications parameters for `groups` and `onlyUnread` are of type any. It works for strings and numbers

[2019-08-08 06:21] #28 closed

[2019-08-13 13:26] arkraft opened #29 "Arrays of enum values"
I have a swagger configuration where one attribute is an array of enum values (number). This enum is correctly translated into a type, but the property itself is not an array anymore. For example:

[code]

creates the following enum type:
[code]
but the property itself is this:
[code]
which is not an array.

This part works fine in the Swagger Editor and when creating a client with `typescript-ang

[2019-08-14 07:42] #29 closed

[2019-08-14 08:33] OndraRehounek opened #30 "Wrong replace params in PUT requests"
Hi, first of all thank you for this repo which helped us a lot with our project. Today, I encountered error when using generated service for PUT requests.

When Swagger URL for PUT includes an object like this,

```let url = '/crawler/v1/mapper/{mapper.id}';```

replace string for the URL is generated as
```replace('{mapperId}', params['mapperId'] + '');```

instead of
```replace('{mapper.id}', pa

[2019-08-14 08:43] Manweill commented on #30
Hi, @OndraRehounek
Can u provide complete `PUT Request`

[2019-08-14 14:40] OndraRehounek commented on #30
Hi @Manweill

[code]

[2019-08-14 14:54] Manweill commented on #30
@OndraRehounek
The swagger definition?

[2019-08-14 14:57] OndraRehounek commented on #30
@Manweill

[code]

[2019-08-15 06:18] #30 closed

[2019-08-15 06:22] Manweill commented on #30
@OndraRehounek
it fix now.
but, I would like to know, `{mapper.id}` was generated or manual input

[2019-08-15 11:30] OndraRehounek commented on #30
@Manweill
thanks for the fast fix, as far I know the defintion was generated

[2019-08-21 18:23] pumpkinlink opened #31 "Support for nullable?"
Does this codegen support translating swagger [nullable](https://swagger.io/docs/specification/data-models/data-types/#null) data type attribute as typescript undefined/null/question mark?

[2019-08-22 00:41] Manweill commented on #31
For example ？

[2019-08-22 13:11] Manweill commented on #31
@pumpkinlink
You can set `strictNullChecks = false`

[2019-08-22 13:39] arkraft opened #32 "Transform Date strings"
Swagger does not have an own Date type. Instead Date is supported via string (https://swagger.io/docs/specification/data-models/data-types/). The documentation might be for OpenAPI 3.0, but the part about the Date is also valid for 2.0. The `format` attribute supports two Date formats:
- date – full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
- date-time – the date-t

[2019-08-23 01:22] Manweill commented on #32
@arkraft
Hi, I may not have time to deal with this issue in the short term.If you have any idea to realize it, welcome PR

[2019-08-27 10:36] Manweill commented on #31
@pumpkinlink
Yes, I will accept if it is reasonable. Wellcome~

[2019-08-28 12:18] LucaDe opened #33 "Support response types"
Currently response types are not typed (e.g. return type is always Promise< any >). It would be great to have these typed as well :)

I might look into this myself, when I find time!

[2019-08-28 12:23] Manweill commented on #33
@LucaDe
Similar to #26. upgrade `swagger-axios-codegen`@latest

[2019-08-28 12:32] LucaDe commented on #33
@Manweill
It's not working on v.0.7.0.
Sample:
[code]

[2019-08-28 12:35] Manweill commented on #33
I think i see what happen with it.
I rebuild and publish, fix in v0.7.1.

[2019-08-28 12:58] LucaDe commented on #33
@Manweill
Thanks for rebuilding and publishing. Still same behaviour, response type is generated and added to GET requests, but not to POST/DELETE etc.

[2019-08-28 13:06] Manweill commented on #33
@LucaDe
It has.

[code]

[2019-08-28 13:13] LucaDe commented on #33
@Manweill
Could you check with my provided sample above? It should generate the SubscriptionCreatedResponseModel and add it to subscriptionsPost(..): Promise<SubscriptionCreatedResponseModel>

[2019-08-28 13:28] LucaDe commented on #33
@Manweill I just flew over the code for response type generation. It seems that you're only providing response types for a status code of 200. In my case the API returns a 201 as Statuscode, when a new Entity is created.

[2019-08-28 13:28] Manweill commented on #33
I think it may be because I only deal with `HttpCode 200`.
I check with your `swagger JSON`. The `Post` method success `HttpCode` is `201`.
I think it can add HttpCode is 20X response type.
But, How to deal with `Delete` method

[2019-08-28 13:34] Manweill commented on #33
@LucaDe
Yeah, because my company's success code is only 200

[2019-08-28 13:46] LucaDe commented on #33
I don't see why there should be a problem with DELETE methods. I will open a PR to accept 2XX status codes

[2019-08-28 13:47] Manweill commented on #33
OK, Welcome PR~

[2019-08-28 13:53] Manweill commented on #33
@LucaDe
Use `yarn link` with develop

[2019-08-28 14:29] #33 closed

[2019-08-28 14:40] Manweill commented on #33
@LucaDe
Published.

[2019-08-29 13:05] LucaDe opened #35 "Extend request options (baseURL, method, contentType)"
Currently you can't configure baseURL, HTTP method (hardcoded to POST atm) and contentType (hardcoded as well).

I will do a PR for this :)

[2019-08-29 13:17] Manweill commented on #35
@LucaDe
So sorry~
I am a Bad coder

[2019-08-29 13:22] Manweill commented on #35
`baseURL` usually like this `axios.default.baseURL = 'xxx.xxx.com'`
But your thoughts are not bad.

[2019-08-29 13:34] #35 closed

[2019-09-07 20:13] nibytes opened #37 "Array in swagger, but not array in codegen"
![изображение](https://user-images.githubusercontent.com/15169344/64479795-c88d2800-d1c4-11e9-839d-ac7fccce6270.png)
Swagger
![изображение](https://user-images.githubusercontent.com/15169344/64479809-0427f200-d1c5-11e9-9561-0d4a87404f98.png)
Generated code

[2019-09-08 14:43] nibytes commented on #37
@Manweill Can you approve my PR?

[2019-09-08 14:47] #37 closed

[2019-09-08 14:50] nibytes commented on #37
@Manweill When I can npm update package with fix?

[2019-09-08 15:22] Manweill commented on #37
@nibytes Tomorrow

[2019-09-08 15:29] nibytes commented on #37
Ok thank you

[2019-09-09 17:09] nibytes opened #39 "If body item is array generating object"
Generating now:
[code]

`let data = { ...params['patch'] };`

Must be:
`let data = params['patch'] `

About why?
http://jsonpatch.com/
RFC:
https://tools.ietf.org/html/rfc6902

[2019-09-10 06:25] Manweill commented on #39
@nibytes
Can you provider the complete sample of this issue

[2019-09-10 10:56] LucaDe opened #41 "Make responseType configurable"
Currently you can't configure the responseType, which is needed in some special cases (e.g. when the api is returning a PDF file you need to set responseType to arraybuffer).

I already fixed this in PR #40

[2019-09-10 12:35] #41 closed

[2019-09-10 12:39] LucaDe commented on #41
Thanks you!

[2019-09-11 15:28] LucaDe commented on #37
I'm struggling with the same issue currently. Even though the param gets annotated correctly now, the data property is not set correctly.
Currently it looks like this:
`{"0":{"from":"123","op":"add","path":"/path","value":{"name":"123"}}}`
But it should look like this:
`[{"from":"123","op":"add","path":"/path","value":{"name":"123"}}]`

[2019-09-11 16:13] LucaDe commented on #39
I saw this issue too late, please see my comment in #37 + my fix in #43

[2019-09-11 19:20] nibytes commented on #39
@Manweill can you check PR @LucaDe  and approve?

[2019-09-16 01:02] xxbld opened #45 "请问swagger 返回Class 定义是泛型类时 应该怎么处理？"
Return«List«DictionaryTypeEntity»»
特殊字符.

[2019-09-16 01:11] Manweill commented on #45
目前关于泛型的处理是，如果识别出类名是含有[]包裹着的就是泛型。对应你这个类型可能是
Return[List[DictonaryTypeEntity]] 然后会正常识别出泛型，但是也是会转成普通的类型 `Retrun_List_DictionaryTypeEntity `。目前泛型没有更好的方案。
   你这个情况的话，可能需要把 «» 变成 []，或者生成器针对 «» 来做优化就可以了。
   如果要完美支持泛型，需要在生成之前就定义好，对应的泛型类。因为生成器是不知道 ` Return<T> `中的 T 是给到 Return 中的哪个属性

[2019-09-17 00:24] xxbld commented on #45
我提交了一个[pr](https://github.com/Manweill/swagger-axios-codegen/pull/46)判断«» 为泛型；
我打算把Pont里面中文翻译功能挪进来，你觉得有必要不？

[2019-09-17 00:36] Manweill commented on #45
这个翻译是怎么得来的

[2019-09-17 00:39] xxbld commented on #45
(translation.js)[https://github.com/Selection-Translator/translation.js]
实现是我从(Pont)[https://github.com/alibaba/pont]搞的.

[2019-09-17 00:43] Manweill commented on #45
应该不用吧，实际场景中，中文的类型这些应该不存在。。。

[2019-09-17 00:44] Manweill commented on #45
还有，我想请教一下，«» 这个符号是由什么生成器输出的，什么语言的

[2019-09-17 00:47] xxbld commented on #45
就是有的后台给实体名swagger输出改成中文了，controller的tag也用中文。就比较无语了

就是swagger的2.0

[2019-09-17 01:07] Manweill commented on #45
是不是你用的swagger的包有不对呢，我看过其他的java的包没有这个会这样

[2019-09-17 06:38] xxbld commented on #45
可能跟版本有关
https://github.com/Manweill/swagger-axios-codegen/issues/22#issue-440405645
这位兄弟也是跟我一样的字符

[2019-09-17 06:39] Manweill commented on #45
可以，这两天我还有个参数优化要发。

[2019-09-17 07:57] xxbld commented on #45
useCustomerRequestInstance: true
这个参数出来的代码不太对

[2019-09-20 00:03] xxbld commented on #45
@Manweill

[2019-09-20 00:36] Manweill commented on #45
你倒是说哪里不对啊，有问题直接说明白好白，问来问去很浪费时间的

[2019-09-30 10:09] nibytes opened #48 "Generating wrong enums"
[code]
(node:17056) UnhandledPromiseRejectionWarning: SyntaxError: ',' expected. (4979:6)

[2019-09-30 10:41] nibytes commented on #48
[code]
I think this happen here `createDefinitionEnum`, and when results of this function using like that
[code]
string like `1|2|3` inserting in enum template

[2019-10-01 17:44] nibytes commented on #48
@Manweill Can you check and approve PR?

[2019-10-04 14:38] fairking opened #50 "Validation attributes"
Would like to see something to be able to generate validation attributes among with model classes.
It would be really cool.

My view model looks like this:
![image](https://user-images.githubusercontent.com/13495631/66215866-56710b80-e6bc-11e9-882b-5d4182c06e3b.png)

I got my api like this:
![image](https://user-images.githubusercontent.com/13495631/66222281-b40b5500-e6c8-11e9-822c-47d3db34aba4.pn

[2019-10-04 15:28] denis-pujdak-adm-it commented on #50
Maybe it could be something like this?
[code]
[code]
It is interesting how easy we can bind the validation model with the [vuelidate](https://github.com/monterail/vuelidate) or [VeeValidate](https://logaretm.github.io/vee-validate/)

[2019-10-06 13:28] denis-pujdak-adm-it opened #51 "Constants are not generated"
Hi guys,

Is the any way to tell codegen to generate constants?

My class looks like:
[code]

Currently codegen generates the following ts:
[code]

I use those constants as permissions. The reason I use `const` instead of `enum` is to be able to pass them into the attributes and because I will have many permission classes (cannon have many enums against one property):
[code]

In the same time I wo

[2019-10-06 15:55] nibytes commented on #48
@Manweill ???

[2019-10-08 00:07] #48 closed

[2019-10-08 00:11] Manweill commented on #51
[code]

[2019-10-08 00:29] Manweill commented on #48
Day off before today

[2019-10-09 12:35] nibytes commented on #48
Can you update npm version?

[2019-10-09 12:35] nibytes commented on #48
@Manweill Can you update npm version?

[2019-10-15 08:09] Manweill commented on #32
@arkraft
Hei，can you add some examples about this [PR](https://github.com/Manweill/swagger-axios-codegen/pull/42) of you?

[2019-10-16 02:15] xxbld commented on #45
之前有点忙没仔细看，想用到小程序上，就测试了一下结果报错了

https://github.com/Manweill/swagger-axios-codegen/pull/52

[2019-10-16 02:15] #45 closed

[2019-10-16 02:34] Manweill commented on #45
@xxbld  小程序上，不能用axios，要换成fly.js

[2019-10-16 10:02] danielgelling opened #53 "Error when generating parameters by reference"
When specifying a global parameter in `documentation.parameters` and referencing to this parameter in the request (`'$ref': '#/parameters/someParam'`) specification an error occurs when generating the client.

[code]

[2019-10-17 03:40] xxbld commented on #45
嗯，就是因为这个才测试的useCustomerRequestInstance

[2019-10-20 16:14] arkraft commented on #32
Made a new PR for the example

[2019-10-22 13:01] Senci opened #55 "Option to split generated code in multiple files"
Hey guys, I just started using `swagger-axios-codegen`.

Are there any technical issues why you aren't splitting the generated code into multiple files spread over multiple folders? And may this be an option for future releases?

[2019-10-23 00:57] Manweill commented on #55
@Senci
Yeah~file diff, and then it will generated more and more files

[2019-10-23 11:52] denis-pujdak-adm-it commented on #51
I think guys I found a solution. I switched back to enums, so they are generated by codegen.
[code]

[2019-10-24 02:51] #32 closed

[2019-10-24 02:53] Manweill commented on #53
@danielgelling
Can you describe it in detail?

[2019-10-24 03:00] #51 closed

[2019-10-24 12:12] danielgelling commented on #53
When we add a parameter to our spec, and reference this to this parameter in the path specification the generator gives the error listed above.

Part of our spec.json
[code]
`Note: I only added the part of the spec that is relevant to this issue.`

If you need any more information, or access to our spec, please reach out to me

[2019-10-25 08:19] Manweill commented on #53
The `spec.json` was not generated through the interface?
Wirte on `SwaggerEditor`?

[2019-10-25 09:16] haroldiedema commented on #53
The spec.json file is generated and is Swagger 2.0 compliant.

[2019-10-25 09:23] Manweill commented on #53
@haroldiedema
Emmm, typically, interface parameters are directly within the requested parameters, and references are rarely used.
For example, C#, Java, Nodejs, these languages generate spec.json like this:
[code]

[2019-10-25 12:25] danielgelling commented on #53
This is only when we globally define the parameter in the spec, and then reference to it in the route. This is so you don't have to copy/paste the parameters for each route that use that same parameter.

[2019-10-25 16:45] haroldiedema commented on #53
To put this use-case into context:

We have a specific parameter: `q`, which alot of our end-points use. We want to define this parameter _once_ and re-use its definition in our operations.

The `swagger-axios-codegen` tool doesn't recognize the reference to another definition.

[2019-10-25 17:54] Manweill commented on #53
Currently, you can define the parameter in definition.
And then, welcome PR or wait for me of next version .

[2019-10-29 08:44] Manweill commented on #50
This is good idea. Welcome PR

[2019-10-30 02:52] Manweill commented on #53
@danielgelling
Hei, I think this spec.json not good.
The request parameters should be defined as a whole

[2019-10-30 10:11] danielgelling commented on #53
@Manweill I just generated a new spec.json (only with two of our endpoints, one of which uses a parameter by reference, the other has its parameters specified in the route itself). You can find it here: https://gist.github.com/danielgelling/d816b09e76bf662723776ab07de1dd90

Using this generator it gives the error listed above, however when using the same spec with the official [swagger-codegen-cli

[2019-10-31 13:09] xxbld opened #56 "how do you think about includeOption use multimatch do filter?"
[multimatch](https://github.com/sindresorhus/multimatch)
[code]

[2019-11-01 00:03] Manweill commented on #56
Briefly describe your usage and filtering rules

[2019-11-01 00:31] xxbld commented on #56
`multimatch`  support include and exclude filter,
[case](https://github.com/sindresorhus/multimatch/blob/master/test/test.js)
easy to match tag-name ,path or operationId you want

[2019-11-01 01:44] Manweill commented on #56
Got it.

[2019-11-18 04:41] CodeSteele opened #59 "TypeError: Cannot read property 'schemas' of undefined"
[code]

With the following swagger.json output from Swashbuckle:

[code]

[2019-11-18 04:43] CodeSteele opened #60 "UnhandledPromiseRejectionWarning: TypeError: Cannot convert undefined or null to object"
Seems to barf on the empty `components:{}` section,  I removed it manually and it still errors on #59

[code]

With the following swagger.json output from Swashbuckle:

[code]

[2019-11-18 05:03] Manweill commented on #60
fix in v0.9.4

[2019-11-18 05:03] Manweill commented on #59
fix in 0.9.4

[2019-11-18 05:03] Manweill commented on #59
fix in 0.9.4

[2019-11-18 05:12] #59 closed

[2019-11-18 06:00] CodeSteele commented on #60
Yep that fixed it.

[2019-11-18 06:00] #60 closed

[2019-11-18 14:58] iwyg opened #61 "swagger3 requestBody schema"
Hi

Are you planing to support `requestBody` schema in the generated code? As far as I can see, there's only a data assignment to `null` (`let data = null`), but it's not possible to pass actual data to the generated service methods.

Thx

[2019-11-19 02:24] Manweill commented on #61
what？

[2019-11-19 07:20] iwyg commented on #61
Consider your swagger3 example, the `POST /api/account/register` endpoint

[code]
will produce something like this:
[code]

So there's no way to pass a `RegisterDto` object.

[2019-11-19 13:05] Manweill commented on #61
ok，i see

[2019-11-22 06:23] OndraRehounek opened #62 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'startsWith' of undefined"
Using version 0.9.4, I am getting following error (node version 10.17.0)

`UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'startsWith' of undefined`

when trying to generate from following json:

[code]

[2019-11-22 08:15] Manweill commented on #62
@OndraRehounek
Hei,  I use this json to generated success

[2019-11-22 10:12] #61 closed

[2019-11-22 11:22] OndraRehounek commented on #62
Hi @Manweill ,
thank you for the fast reply. That's curious. So it should be just my error then. Thank you very much for your time!

[2019-11-22 11:22] #62 closed

[2019-11-27 15:45] jkulcsar opened #63 "With JIRA API it shows an error"
Trying to generate a client from the JIRA API at:
https://developer.atlassian.com/cloud/jira/platform/swagger.v3.json

shows the error:
[code]

Any ideas what could cause this?
Any help is much appreciated, this is a great codegen and I'm using it successfully on other APIs but been stuck on the JIRA API.

Many thanks!

[2019-11-28 09:33] #63 closed

[2019-11-29 07:26] jkulcsar commented on #63
Many thanks again, works great!

[2019-11-30 16:49] nibytes commented on #55
On the one hand, this is a good idea, during updates only those files that need to be changed will change, on the other hand, this makes it difficult to track these very files.

[2019-12-02 16:52] alburkerk opened #64 "ts error: An enum member cannot have a numeric name."
## Reproduction

When we got an enum like this in definitions :

[code]

code generation will generate an enum like this
[code]

Triggering a .ts error `An enum member cannot have a numeric name.`

Will make a PR soon to fix it

[2019-12-11 21:42] denis-pujdak-adm-it commented on #55
It could be an option to generate services in separate files by service tag name. And it could be useful when you have a lot of api and you want to `import` only what you want.

[2019-12-31 05:56] #64 closed

[2020-01-12 01:19] denis-pujdak-adm-it opened #67 "TypeError: types is not iterable"
After upgrading from 0.9.7 to 0.9.9 got the following error:
npm: '6.13.6',
node: '12.14.1',
[code]

My codegen.js looks like this:
[code]

[2020-01-12 04:40] denis-pujdak-adm-it opened #68 "TypeError: The "path" argument must be of type string"
After upgrading from 0.9.7 to 0.9.9 got the following error:
npm: '6.13.6',
node: '12.14.1',
[code]

[2020-01-12 04:42] denis-pujdak-adm-it commented on #67
Looks like clean npm install helped to get rid of the error.

[2020-01-12 04:42] #67 closed

[2020-01-13 00:27] Manweill commented on #50
@denis-pujdak-adm-it

Would you like to add an example to Readme？

[2020-01-13 00:34] #68 closed

[2020-01-13 14:17] denis-pujdak-adm-it commented on #50
Hi @Manweill I am trying to integrate my project with [vuelidate](https://github.com/vuelidate/vuelidate). Ones I done with it I'm gonna add some small example to the readme file.

[2020-01-17 17:26] fairking opened #69 "Promise result is Any instead of the actual Type in open api v3"
"swagger-axios-codegen": "0.9.10"
After switching my project to OpenApi v3 the rendered services lose the actual response type and have `any` instead. Is it intentional or a bug?
`/services/index.ts` changes after switching to v3:
![image](https://user-images.githubusercontent.com/13495631/72632505-4e2c9b80-394e-11ea-91d1-940835aa5b99.png)

The api v3 (Swashbuckle.AspNetCore 5.0.0):
![image](https

[2020-01-17 17:31] denis-pujdak-adm-it commented on #69
I also don't see the `AddressFormVm` class rendered in `/services/index.ts`

[2020-01-17 17:43] denis-pujdak-adm-it commented on #69
Also the generic class definition in C#:
[code]
Changes its name from `PaginatedVm_AddressVm` to `AddressVmPaginatedVm`

But as I can see it is `Swashbuckle` change after upgrading from v4 to v5.

[2020-01-17 20:22] denis-pujdak-adm-it commented on #69
PR is created https://github.com/Manweill/swagger-axios-codegen/pull/70

[2020-01-18 15:41] fairking commented on #69
PR https://github.com/Manweill/swagger-axios-codegen/pull/71

[2020-01-18 17:02] fairking commented on #50
I did some work in my project. I decided that the only rules I need in javascript are actually `required` and `maxlength'. I am not going to use vuelidate or any other similar approach. Everything else is covered by server side validation. My axios receives the 400 errors with the following model `[{ field: 'name', message: 'The value must contain only letters and numbers' }]`. The model in my api

[2020-01-18 18:12] #69 closed

[2020-01-27 05:20] Manweill opened #78 "An idea for filtering build methods. that filter requests by simply using app or web pages or other specific clients"
An idea for filtering build methods, that filter requests by simply using app or web pages or other specific clients.
In .NET Server like this, add a new attribute

### .NET

Controller
[code]
SwaggerFilter

[code]
### Swagger Spec

[code]

[2020-01-27 05:22] Manweill commented on #78
@fairking

[2020-01-27 12:57] fairking commented on #78
@Manweill  Good idea. So you can filter out operations you don't need in your client app. It could be very useful.

[2020-02-17 05:23] jiyihui opened #79 "yarn : error"
when i exec  yarn add swagger-axios-codegen
show this error

[code]

[2020-02-17 07:14] #79 closed

[2020-02-17 10:30] aranoe opened #80 "useClassTransformer doesn't work when modelMode is set to interface"
**Problem Statement:**
As mentioned in #32 it is desirable to convert date types (`date` and `date-time`)  to `Date` object instead of `string`. This currently only works with `modelMode: "class"`. Setting `modelMode: "interface"` results in an error.

**How to reproduce:**
Run `swagger-axios-codegen` with following configuration:
[code]
**Example Error:**

In addition to that, dates are not trans

[2020-02-17 11:16] Manweill commented on #80
@aranoe
`useClassTransformer`  is only work  in `modelMode='class'`

[2020-02-17 14:00] aranoe commented on #80
I think this feature makes perfectly sense for interface models as well. If it's not possible to do with `useClassTransformer` another approach is desired.
Maybe a configuration name like `useStringForDates` with default value `true` would be suitable.

[2020-02-17 14:43] Manweill commented on #80
Can add a setting to format the response result with the `format` in the `swagger.json` specification.

[2020-02-17 15:08] aranoe commented on #80
@Manweill The `format` is already set to `date-time` as shown in the opening post. The problem is, that `swagger-axios-codegen` still transforms this to a `string` type. But the desired type would/can be `Date` too. This is already possible with class models (`useClassTransformer`), but not with interfaces.

[2020-02-17 15:35] aranoe commented on #80
I just looked at your code and saw that it should already produce `Date` by default, when `"type": "string"` and `"format": "date"` /`"format": "date-time"`

https://github.com/aranoe/swagger-axios-codegen/blob/cb7bf85fe0f7db69b0131152b8f6cb64d9aff922/src/utils.ts#L86-L98

This seems like a bug now.

@Manweill can you confirm, when you run `swagger-axios-codegen` with the above configuration, that

[2020-02-18 12:49] Manweill commented on #80
@aranoe
Emm，I haven't actually used this feature, so you may need to discuss it with arkraft or you can submit your new idea.
Welcome PR.

[2020-02-21 10:35] skazakovstas opened #81 "Error: please inject yourself instance like axios"
Good afternoon.
Thanks so much for a great plugin.

Help to deal with the question.
I use the generated code in VUE. When I try to access the method, I get an error in the promise ("Error: please inject yourself instance like axios").

Thanks for the help

[2020-02-21 11:01] Manweill commented on #81
@skazakovstas
Do you mind the settings I look at?

[2020-02-21 11:18] skazakovstas commented on #81
In VUE component

`<script>
    import Vue from 'vue'
    import axios from 'axios'
    import {ProjectService} from '../../index.js'

    Vue.use(axios)

    const instance = axios.create({
        baseURL: '/api',
        timeout: 1000,
        headers: {'X-Custom-Header': 'foobar'}
    });

    ProjectService.axios = instance

    export default {
        data: () => ({
            all_project:

[2020-02-21 11:24] Manweill commented on #81
`ProjectService.axios` ? 不应该是 `serviceOptions.axios` 吗

[2020-02-21 11:37] skazakovstas commented on #81
Yes, it worked. Thanks again.

[2020-02-21 11:47] #81 closed

[2020-02-23 14:04] #80 closed

[2020-02-26 23:50] wizofaus opened #84 "HEAD/GET methods with same OperationId cause invalid typescript"
For the swagger.json:
[code]
I get typescript output that tries to define the `ping` function twice for the same HealthCheckService class, which fails to compile.
If I change the operationId for one of them (e.g. "PingHead"), it generates valid output but at the moment that's out of my control other than doing pre-processing on the json before running codegen.

[2020-02-26 23:57] wizofaus commented on #84
Seems this has been already fixed in the latest version, never mind!

[2020-02-26 23:57] #84 closed

[2020-03-03 08:56] xxbld commented on #56
@Manweill
我基本实现了这个功能,
因为匹配字符className里面有一些特殊字符 *,?,**,{},!, 所以要求严格按照 `pascalcase`规则书写；你看是沿用include参数还是怎么的？
![image](https://user-images.githubusercontent.com/13309211/75758569-3af35500-5d6f-11ea-8955-b422053ae90b.png)
![image](https://user-images.githubusercontent.com/13309211/75758508-2ca53900-5d6f-11ea-85d9-d6f141582838.png)

[2020-03-03 09:13] Manweill commented on #56
@xxbb
用include参数吧，到时候把readme也修改一下

[2020-03-04 01:09] xxbld commented on #56
https://github.com/Manweill/swagger-axios-codegen/pull/86/commits/61d414c8d99439ad9fa395f79252894706f3f535

[2020-03-05 04:50] #56 closed

[2020-03-05 09:36] xxbld opened #87 "讨论一下"
@Manweill

-  apijson 的 basepath 是否要追加到请求前缀 ? {basepath+path}；
https://github.com/Manweill/swagger-axios-codegen/blob/0e02b584cc8628fec8dee4b9e886d8af3233ab5c/src/templates/template.ts#L212
-  第三方 request 接入支持再提升一下？用了[umi-request](https://github.com/umijs/umi-request])有点对不上；

-  abpGenericTypeDefinition 我认为不应该内置在生成器里面；
https://github.com/Manweill/swagger-axios-codegen/blob/0e02b584cc8628fec8dee4b9

[2020-03-05 10:15] Manweill commented on #87
@xxbld

- `basepath` 按 `axios` 的使用方法，一般设置在request的实例里面。而且加了之后，也不方式实现一些跟切换域名相关的功能。多数的request库都支持拦截器已经全局配置等。

- 目前是只支持跟 `axios` 类似结构的库，所以在 `axios` 上进行了抽象。`umi-request` 我简单看了下，在Request方向基本类似，Response的话，差一个 error ，觉得你在interceptor包装一下就可以使用。

- abp 这个我觉得可以抽出来

[2020-03-05 15:31] xxbld commented on #87
是swagger里面还有一层basePath,不是指 baseUrl
[code]

[2020-03-05 15:33] xxbld commented on #87
对的，是我一下短路了，我用一个函数再包装一次umi-request就ok了

[2020-03-06 00:51] Manweill commented on #87
那你的想法是

[2020-03-06 02:45] xxbld commented on #87
我不知道这个常遇到不，我现在的做法是为每个生成的ts文件创建了一个baserUrl+basePath的axios实例
![image](https://user-images.githubusercontent.com/13309211/76045226-66f11f00-5f97-11ea-93c6-e5310de19402.png)

[2020-03-11 08:21] OndraRehounek opened #89 "Getting TypeError: Cannot convert undefined or null to object"
Hello @Manweill,

I am using latest version (0.9.16) for generation of Typescript from GO, Java and Python (Django) APIs. However, I am getting an error for the Python API - `TypeError: Cannot convert undefined or null to object`

[code]

I was able  to generate API from the JSON file using openapi-generator but I find your generator much more programmer-friendly and I would like to use it for the

[2020-03-11 13:23] Manweill commented on #89
@OndraRehounek

Lack the `definitions` in root node  with your `swagger.json` spec ;

But, I think is a bug, it needs an null check.

[2020-03-11 13:31] OndraRehounek commented on #89
@Manweill thank you very much for such a fast check

Some warning would be definitely handy

I'll leave the closing of the issue up to you

[2020-03-11 13:35] Manweill commented on #89
@OndraRehounek
OK. it will fix in v0.9.17

[2020-03-11 13:36] #89 closed

[2020-03-19 09:50] mort3za opened #90 "Error when generating from openApi 3.0.1 version"
Hi, After updating our API to openApi 3, this tool is not working anymore. The output error is:

[code]

My codegen config is:
[code]

This is the Swagger page: https://api-ctyar.fandogh.cloud/index.html

[2020-03-19 18:32] fairking commented on #90
I am using API v3 and everything is working fine so far. I am using `swagger-axios-codegen` v. 0.9.12.
Could you please check if that version is working for you?

[2020-03-19 18:50] mort3za commented on #90
@fairking Tried 0.9.12, returns this error:

[code]

[2020-03-20 02:07] #55 closed

[2020-03-20 02:11] Manweill commented on #55
@Senci @fairking
Hei,  Multi-file mode has been implemented, can you please testing?

[2020-03-20 02:25] Manweill commented on #90
@mort3za
The request dose not has operationId on your swagger spec .
Please  set `options.methodNameMode:path` or add `operationId `

[2020-03-20 02:25] #90 closed

[2020-03-20 03:14] Manweill commented on #50
@fairking
this issue can close?

[2020-03-23 22:28] fairking commented on #50
Yes you can close. The most important things are covered. If someone needs more validation he/she can raise a new issue.

[2020-03-24 01:10] #50 closed

[2020-03-30 09:01] OndraRehounek opened #91 "Query parameters with empty description are skipped"
Hi,

I just discovered that query parameters that have empty description are not converted into TypeScript. If I manually fill the description atribute, everything works as expected.

JSON is generated from Django REST framework Swagger generator - https://drf-yasg.readthedocs.io/en/stable/readme.html

I am not sure if this is "bug" or "feature" so please handle this issue as you want and thank yo

[2020-03-31 00:29] Manweill commented on #91
@OndraRehounek
You need to check your request `/sites/` url. It is wrong?

[2020-03-31 17:10] OndraRehounek commented on #91
@Manweill  you mean to check if the request is sent properly?

The error is risen even before since I cannot pass the "study_id" parameter to the generated method without violating the Typescript definitions because the parametr is not listed in the params of the method.

If we fill the description of the "study_id" parameter, the GET method for the /sites/ URL is generated properly and it accepts

[2020-03-31 17:24] Manweill commented on #91
@OndraRehounek
You can try it.
I copy your spec in example project and build it, it does not generated. Of course you can also provide examples repo.

[2020-03-31 17:31] Manweill commented on #91
I mean, your spec is wrong in` /sites/`, it should be written as `/sites`

[2020-04-02 09:27] Manweill opened #92 "how about using codegn with api version?"
Any idea?

[2020-04-05 07:00] OndraRehounek commented on #91
Hi @Manweill , thank you for the response. I spent an hour trying to replicate the issue but now without success - it works same with `/sites/` or `/sites` and it works with empty description as well...

I used same JSON that was not working before so I am really puzzled...

Thanks again for your time, I'll close the issue.

[2020-04-05 07:00] #91 closed

[2020-04-17 16:15] klimentru1986 opened #93 "Problems with multipart/form-data request generations"
I need to generate api with a `multipart/form-data`, but is's not work.

I found a problem.

The type in the old version [swagger 2.0](https://swagger.io/docs/specification/2-0/file-upload/) was in a `consumes` section.

The type in the [current version](https://swagger.io/docs/specification/describing-request-body/file-upload/) is placed in a `content` section.

You check only `consumes` section

[2020-04-22 00:50] Manweill commented on #93
@klimentru1986
Welcome to PR.

[2020-04-26 12:10] klimentru1986 commented on #93
Done. #94

[2020-04-27 04:09] #93 closed

[2020-05-10 09:14] arkraft opened #95 "Support for inheritance"
Thank you very much for creating this library!

OpenAPI 3 has support for inheritance: https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/

It would be greate if we could use it when generating a client. We have this situation in out backend and the generated OpenAPI file is valid and has the correct references. The generated file only contains the base type and the oth

[2020-05-10 10:06] Manweill commented on #95
@arkraft
it mean that the return value or parameter has two or more types?

[2020-05-10 12:35] arkraft commented on #95
Yes, thats right. We currently have something like this:
[code]

So `occurences` is an array of the types `OvertimeOccurrenceDto`, `AbsenceOccurrenceDto`, `NotPlannedOccurrenceDto`,  `TooEarlyOccurrenceDto` and `TooLateOccurrenceDto`. The expected result in the interface would be:

[code]

[2020-05-10 12:40] arkraft commented on #95
I am currently working on this myself

[2020-05-10 14:01] arkraft commented on #95
I created #96 to fix this issue. There is an `allOf` inside the schema but in the end only the type of the first element of the allOf was used. This will be a breaking change because not all types of the allOf are combined to one type which needs to include all types. But i believe that this is the way it should be, i checked it with the swagger editor and created an angular client, it was like th

[2020-05-10 14:22] Manweill commented on #95
Thank you very much for your contribution.

[2020-05-10 17:43] #95 closed

[2020-05-10 17:45] arkraft opened #98 "Bug with reference types in array"
After the change with anyOf and allOf i introduces a bug for reference types inside an array. They are since parsed as `any | null[]` which is wrong. This MR #97  has fixed the issues for my swagger file

[2020-05-11 05:30] #98 closed

[2020-05-11 18:40] arkraft commented on #98
@Manweill i see you merged the fix PR. Could you please create a new release with the fix. The current release will create wrong clients at the moment

[2020-05-22 09:43] FredrikEdenqvist opened #100 "Posting file, code generation."
Hi, I have an issue generating code for multipart-form.
Schema is in v.3,
.net core 3.1
swagger-axios-codegen v 0.10.5
Main question is How do I attach the blob data? or is there an issue?

I have a simple api:
- C#:
[code]

- Swaggerjson:
[code]

- Code generated by codegen:
[code]

- If I use nSwag (axios in beta) it produces this:
[code]

[2020-05-23 16:55] joshstrange commented on #31
@Manweill Thank you for this library! I was wondering how you think would be best to address this. Not sure if you want the `IPropDef` updated to have another property of `nullable: boolean` or we can re-used the `validationModel` property. Doing a little surgical editing I took this line:

        ${props.map(p => classPropsTemplate(p.name, p.type, p.format, p.desc, !strictNullChecks, false, fals

[2020-05-24 08:09] Manweill commented on #100
@FredrikEdenqvist
emmm，In openApi3.0, I have not added processing for form-data

[2020-05-24 08:14] Manweill commented on #31
like this:
`myProp:string|null|undefined`

[2020-05-24 15:45] #100 closed

[2020-05-27 08:49] axebelk opened #101 "Parameters not working"
Hello,

Parameters not working from url
for example: "parameters": [{"name": "city_id", "in": "path", "required": true, "type": "int"}]}

Thanks

[2020-05-27 09:21] Manweill commented on #101
Can you describe in detail

[2020-05-28 02:18] axebelk commented on #101
In my Django app, I have dynamic URLs for example /city/<int:city_id>/ and this is not working well with your library.

[2020-05-28 07:21] Manweill commented on #101
Can you provide `swagger spec` and the generated code about this error

[2020-05-30 01:57] axebelk commented on #101
Here is the swagger.json file content, You can try with this.
I can't post the generated code as I switched to some other tools.
[code]

[2020-06-02 12:33] Manweill commented on #101
@axebelk
in your `spec`, the `/enquiries/{id}/ ` request dose not definition `id` in params

[2020-06-02 12:35] Manweill commented on #101
you can see in example

[2020-06-03 02:43] joshstrange opened #102 "Issue with file uploads"
The JSON Swagger file looks like it should work according the the spec and I dug down into the code and I think the issue is in `mapFormDataToV2` (or one level above).

Relevant parts of my spec:

    "/photos/fromUpload": {
	  "post": {
		"operationId": "createFromUpload",
		"summary": "",
		"parameters": [],
		"requestBody": {
		  "required": true,
		  "description": "Upload File",
		  "content"

[2020-06-05 14:33] Manweill commented on #102
does not support uploading files by reference dto now.

[2020-06-05 16:32] joshstrange commented on #102
@Manweill Would you accept a PR that made it work with reference DTO's?

[2020-06-05 16:34] Manweill commented on #102
@joshstrange
Welcome.

[2020-06-23 00:07] #87 closed

[2020-07-17 08:06] azakordonets commented on #53
Indeed, using parameters as a reference is quite common in swagger generated docs. I was going to use your library for our new E2E framework, but i'm glad that i found this issue first :) Would love to see this feature in the future :)

[2020-07-17 12:59] azakordonets opened #104 "Creating multiple instances of the same api client"
Hi, i might be mistaken, since i don't work with Javascript/Typescript that often, but from what i understand the only way to set customly modified axios library to service is this way :
[code]
I suppose that in this case i can't have 2 ProductService clients that have different API_KEYS ? Because we don't set axios on class instance, but instead we would just override the field in the file. Or am

[2020-07-17 13:33] Manweill commented on #104
Yes, it can have two instance. but it is a anyother mode, and then I don't have time to realize it. Welcome PR。

[2020-07-17 14:43] azakordonets commented on #104
Clear, thanks. I will give it a try

[2020-07-17 14:43] #104 closed

[2020-07-21 08:59] azakordonets opened #105 "Problems building and testing locally the library"
Hi, i'm trying to add a feature to your library that would allow to create multiple instances of the same service with different settings. However, i faced with some weird issues that i cannot figure out and i was hoping that you could help me.
Here's a basic setup that doesn't want to work for me :
1. I have created a test project
2. I have run `npm install {local-path-to-your-forked-library}` (

[2020-07-21 11:30] Manweill commented on #105
@azakordonets
First, I am also testing local lib with [yarn link, see this](https://yarnpkg.com/).
And then, can you provide your testing repo on github.

[2020-07-21 13:02] azakordonets commented on #105
Well, that's the problem - i just forked your project and was trying to test it out locally generation - https://github.com/azakordonets/swagger-axios-codegen . It didn't work for me. I created a dummy project - https://github.com/azakordonets/test-axios-codegen and there you can see a result in `src/service` folder. Swagger file is taken from your example. in `package.json` there's a file referen

[2020-07-22 20:56] jkulcsar opened #106 "Support for 'required' Swagger keyword"
Hello,
First of all thank you for this great library, been using it for a while in several projects.
I came across today a situation where in the` swagger.json` file the `required `keyword is used on one property but not the others, those being obviously optional. The generated data model should mark these optional with ? however it doesn't.
For example:
[code]
generates:
[code]
From what I'm read

[2020-07-23 02:48] Manweill commented on #105
@azakordonets
use `yarn build` or `yarn watch` on bash.

[2020-07-24 08:07] azakordonets commented on #105
I already did that. In my local copy of https://github.com/azakordonets/swagger-axios-codegen i did `yarn build` and then in the test project  https://github.com/azakordonets/test-axios-codegen i did `yarn add {path-to-swagger-axios-codegen-repo}`. After that in the https://github.com/azakordonets/test-axios-codegen repo i do next :
[code]

How do you usually test your local changes of the library

[2020-07-24 11:39] Manweill commented on #105
@azakordonets
Hi, see in https://github.com/Manweill/swagger-axios-codegen/blob/master/CONTRIBUTING.md

[2020-07-24 11:44] Manweill commented on #106
@jkulcsar
this config is use on class model

[2020-07-24 16:03] azakordonets commented on #105
Thanks for keeping helping me!. Unfortunately it didn't help me. I even tried to run this in docker :
[code]
The project i'm using is https://github.com/azakordonets/test-axios-codegen . `test-swagger-axios-codegen` is local copy (unmodified!) of https://github.com/Manweill/swagger-axios-codegen

[2020-07-24 16:10] Manweill commented on #105
i did not get was worng with you.

[2020-07-24 19:44] fairking commented on #106
Maybe apart from `strictNullChecks: true` the code must check if the type is nullable or not:
https://github.com/Manweill/swagger-axios-codegen/blob/master/src/templates/template.ts

![image](https://user-images.githubusercontent.com/13495631/88426229-be7a1500-cde8-11ea-894f-2e0e5d52b192.png)

could be something like:
[code]

However based on the answer from stackoverflow the `?` character makes f

[2020-07-24 19:59] fairking commented on #105
if you use `npm` then please refer to `npm link` command described here: https://stackoverflow.com/a/18778516/1143349

[2020-07-25 23:05] wizofaus opened #107 "ability to strip prefix or suffix from operationId's (which must be globally unique) for method name"
Currently codegen takes our swagger and uses the "tags" metadata to generate a typescript class for each resource, for which there are then your typical create/get/list/delete type methods.  But in order to achieve this we have to violate the swagger 2 spec which requires globally-unique operationIds.
What I'd like is the ability to have codegen strip the suffix off each operationId that matches t

[2020-07-25 23:07] Manweill commented on #107
@wizofaus
See in `ISwaggerOptions`.

[2020-07-25 23:10] wizofaus commented on #107
methodNameMode is either operationId or path, how will that help?  Bit confused why you closed this...

[2020-07-25 23:17] Manweill commented on #107
@wizofaus
I think your mean  that you need to generate unique method name?

[2020-07-25 23:24] wizofaus commented on #107
I mean that I need *globally* unique operationIds to comply with the swagger spec, e.g.
getFoo, getBar, getWidget, updateFoo, updateBar, udpateWidget etc.
But the resource name (Foo/Bar/Widget) doesn't need to be included in the method name because it's already in the name of the typescript class:
FooService.get
BarService.get
WidgetService.get

i.e. I'd like an option that when generating the met

[2020-07-25 23:31] Manweill commented on #107
I got it.
I think you can put all the methods in a default Service, like that
[code]

[2020-07-25 23:33] wizofaus commented on #107
We want to keep the generated client code as it is now - apart from the fact we have a substantial amount of code calling, it looks clean and is well-organized and easy to read.
But the only way to achieve it is to violate the swagger 2.0/openapi spec and NOT have globally unique operationIds.

[2020-07-25 23:43] Manweill commented on #107
Emmm....., I am a little confused now.
What do you want ,now.
Codegen currently has two methods for generating method names.
[code]
Usually we recommend using operationId, because it is the specification of swagger2.0, and it can be customized according to requirements.
And then, the `tagName` is just for grouping

[2020-07-25 23:46] wizofaus commented on #107
I'm saying I'd like
[code]

[2020-07-25 23:48] Manweill commented on #107
it is a bit unreasonable

[2020-07-25 23:52] wizofaus commented on #107
As long as the only operations we have for specifying the methodName are via operationId or path, then there's no way of getting the client stubs we want and complying with the swagger 2.0 specification requiring globally unique operationId's.

I'm happy to put up a PR for it if you accept external contributions.

[2020-07-25 23:56] Manweill commented on #107
Okey, Welcome!
But, it only remove methodName's suffix

[2020-07-26 00:18] wizofaus commented on #107
I'll add a new methodNameMode which is operationIdWithoutTagName then?

[2020-07-26 00:32] wizofaus commented on #107
Actually I went with shortOperationId, and it's basically just `req.operationId.replace(req.className, '')`, though that also required adding `className` to the IRequestMethods interface.
Unfortunately you're not using npm so I haven't quite figured out to compile locally, but hopefully it will work...

[2020-07-26 00:37] Manweill commented on #107
It is so bad. It should only remove at suffix. you can use `trimString()`  in `utils.ts`

[2020-07-26 01:04] wizofaus commented on #107
Fair enough, tweaked a few things and put up a PR. I noticed none of your examples had `methodNameMode: 'operationId'` to test against, not sure if you have a process for creating new examples.

[2020-07-27 08:30] azakordonets commented on #105
I tried that all already and something is not right. I have updated my test project - https://github.com/azakordonets/test-axios-codegen . It contains both your library and test project where i try to generate client. This project had [Dockerfile](https://github.com/azakordonets/test-axios-codegen/blob/master/Dockerfile) which contains clear steps. If you will clone this repo and then will run `do

[2020-07-27 11:46] Manweill commented on #107
new example by you.

[2020-07-29 20:45] wizofaus commented on #107
I'm not sure what you're saying, you want me to add one before approving the PR?

[2020-07-30 02:35] Manweill commented on #107
Yes.
And then, `codegen` has a method similar to 'trimSuffix'.

[2020-07-30 09:15] wizofaus commented on #107
I looked at the functions in utils.ts but they were too complex and not particularly efficient for what I needed.

[2020-07-30 11:28] Manweill commented on #107
try it

[2020-07-30 21:17] wizofaus commented on #107
Yep, I did, that's why I went with a simpler method that was more suitable to what I needed.

[2020-07-31 01:15] #107 closed

[2020-08-02 00:58] wizofaus commented on #107
Thanks for merging, having trouble getting it to download the latest version, do you need to republish or something?

[2020-08-03 11:24] azakordonets commented on #105
@Manweill any chance you can spot the problem ?

[2020-08-04 00:02] Manweill commented on #105
I don't know much about docker.
Can you try it on your  local machine  instead of using docker.

[2020-08-04 05:42] wizofaus opened #109 "Code generated for APIs requiring text/plain (etc.) as request content type not useful"
We have a couple of APIs for uploading documents,  that in our swagger look like, e.g.:
[code]

But the function generated by swagger-axios-codegen has
[code]
i.e., there's no way to pass in the actual contents to upload to the API!

Again, I could look at contributing a fix, but is this something you'd come across before?

We also have some APIs that require application/octet-stream as the input

[2020-08-04 06:57] Manweill commented on #109
The application/json, multipart/form-data is currently tightly implemented.

[2020-08-04 14:36] azakordonets commented on #105
Well, my initial problem was that locally i do get this error as well. I thought that maybe it's my environment setup, so i created repetitive isolated environment where this problem is 100% reproducible. So, it's not just my local environment, but something else. If you just run the command i have mentioned above - `docker build -t axios-codegen-test .` you will see the error i was mentioning. Ma

[2020-08-04 16:54] azakordonets commented on #105
Sorry, i just realized that https://github.com/azakordonets/test-axios-codegen repo had no code in the folders. Some weird git error from my side. I have pushed things again to the repo.

[2020-08-04 17:09] azakordonets commented on #105
Ok, i just took another laptop and tried to reproduce without docker :
1. Download https://github.com/azakordonets/test-axios-codegen
2. cd swagger-axios-codegen
3. yarn install
4. cd ../test-axios-codegen
5. yarn install
6. cd swagger-axios-codegen
7. yarn link
8. cd ../test-axios-codegen
9. yarn link "swagger-axios-codegen"
10. node src/index.js
11. cat cat service/service.index.ts
As a result -

[2020-08-04 20:20] fairking commented on #105
Did you add `swagger-axios-codegen` package to your `test-axios-codegen`? I cannot see it. I never played with docker as well. What error exactly you get?

[2020-08-04 23:36] wizofaus commented on #109
Are you happy for me to contribute a fix?
Intention would be to add an extra string parameter 'content' to the client method (would need to check for an existing such param obviously).

[2020-08-05 08:15] azakordonets commented on #105
@fairking because when you run `yarn link "swagger-axios-codegen"` then it creates a simlink in your `node_modules` to local package :
[code]

[2020-08-05 08:18] fairking commented on #105
Yeah, but I assume the app needs to now threre is a package anyway. But I am using npm, so I am not sure.

[2020-08-05 17:10] azakordonets commented on #105
@fairking package.json is to specify which packages to download to node_modules. Your code is using package code from node_modules

[2020-08-06 00:19] Manweill commented on #105
can you redo without test-axios-codegen repo?

[2020-08-06 09:36] azakordonets commented on #105
What do you mean ? test-axios-codegen repo is the simpliest repo i created to reproduce the problem. I need some repo where i can add local version of swagger-axios-codegen to test my changes to your repo. The problem is that even with no changes into your repo i got this problem while using local version. Can you please provide some steps on how should i redo without test-axios-codegen ?

[2020-08-08 09:32] Manweill commented on #105
There may be a problem with previous versions, you can try the latest swagger-axios-codegen source code.

[2020-08-08 20:41] azakordonets commented on #105
@Manweill i was using master version - it's the latest one, right ? @Manweill , out of curiocity - can you reproduce the issue that i'm mentioning here ? Can you just follow the steps i wrote above and see if you will get the same result? If everything will work just fine on your machine, then it's clearly my setup issue. If you can reproduce this issue, then maybe you can also spot a problem that

[2020-08-09 05:52] Manweill commented on #105
no, it  is not the latest.

[2020-08-09 19:56] azakordonets commented on #105
@Manweill which branch is the latest then ?

[2020-08-10 09:48] Ultre00 opened #110 "Support derived types in request body"
When I use the following json:

[code]
The generated code has an empty request body:

[code]
Is it possible to add support for derived types, or is it already supported and I am missing something here ?

[2020-08-12 12:06] azakordonets commented on #105
Manweill i would love to try the latest version, but i don't know which one is it?

[2020-08-12 14:38] azakordonets commented on #105
I just saw that you changed something in your library 10 days ago and gave a try with latest master again and the problem seem to disappear. Thanks for updating the library :)

[2020-08-12 14:38] #105 closed

[2020-08-14 16:26] Manweill commented on #110
@arkraft
Can you help solve this problem

[2020-08-14 19:24] arkraft commented on #110
@Manweill Yes sure, i can take a look at it. But i won't be able to do so till Monday.
@Ultre00 Does this work with other codegenerators? Could you test it on https://editor.swagger.io/ with the `typescript-angular` for example. It would help to see how the result of that looks like.

[2020-08-15 06:09] Ultre00 commented on #110
@arkraft
It does work with other generators. I tested with the typescript-angular you mentioned aswell and that does also work.
The code generated:

[code]
Not sure why it's called Body1. However the generated code looks fine aswell:

[code]

[2020-09-06 12:05] #106 closed

[2020-09-14 13:30] AlexGorodilov opened #113 "Issue with code generator"
Hello.

When I use multipart/form-data.

Such code is generated. And compiller type script show error.

export class FileService {
  /**
   * Загрузка файлов на сервер
   */
  static uploadFile(
    params: {
      /**  */
      uploadedFile: any;
    } = {} as any,
    options: IRequestOptions = {}
  ): Promise<number> {
    return new Promise((resolve, reject) => {
      let url = '/api/File/Upl

[2020-09-22 10:34] Manweill commented on #113
can use format your code with markdown

[2020-10-07 14:08] SinBirb opened #115 "Bug: All enum keys interpreted as Number"
Hi,

there is an error in the last PR (https://github.com/Manweill/swagger-axios-codegen/pull/65) which results in all enum keys being interpreted as type Number and getting prefixed with `KEY_`. That's likely because the code uses `Number.isNaN` instead of `isNaN`.

Affected lines:
https://github.com/Manweill/swagger-axios-codegen/blob/7220bb08016c386167c5cdd5ab07bc3f976c5f0a/src/componentsCodege

[2020-10-07 17:23] fairking opened #117 "Include extra types which are not included when services are filtered"
If we use `include` filter sometimes I need some extra schemes (types) to add into the output file.

I have added an additional option `includeTypes` which is an array of type names to achieve the requirement.

Eg. I have some extra enumerators which are not referenced in any of my service methods. Without using filters they all are rendered.  But with filters they are not.

Eg.

codegen_module1.j

[2020-10-07 18:06] fairking opened #119 "String Enums have prefix KEY"
I have string enums like this:

![image](https://user-images.githubusercontent.com/13495631/95369821-dcc3bd00-08cf-11eb-8177-c13160924d63.png)

![image](https://user-images.githubusercontent.com/13495631/95369856-e51bf800-08cf-11eb-9769-745327d4ffea.png)

But the codegen generates them with a prefix `KEY_`:

![image](https://user-images.githubusercontent.com/13495631/95370115-362bec00-08d0-11eb-85

[2020-10-07 18:17] fairking commented on #115
PR has been created: https://github.com/Manweill/swagger-axios-codegen/pull/120

Also related issue (duplicate): #119

[2020-10-07 18:19] #115 closed

[2020-10-07 18:23] fairking commented on #78
The `include` option is ok for me. I am not sure if we need to do something extra. I have only one Tag in my API which is service name.
I know some people might have more tags and they want to filter by them. I think we can think about it if there are really some requests from users.

[2020-10-08 12:38] amwybj041989 opened #121 "This dependency was not found"
[code]

[2020-10-09 02:08] Manweill commented on #121
why do you run `npm install --save module`

[2020-11-06 06:17] Manweill opened #123 "remove shortOperationId`"
The `shortOperationId` is bad feature , I will remove it.

Customization of operationId should be done on the server side instead of redefining it through codegen.

Avoid adding a rewritten operationId function in order to adapt to various needs。

[2020-11-07 12:45] pbn4 opened #124 "How to generate an interface with properties that are nullable"
I would like to have an interface with properties that are a union of a specific type and a null instead of '?' (undefined), e.g.:

[code]

instead of:

[code]

is there a way to achieve that with this library?

[2020-11-08 05:23] #119 closed

[2020-11-08 05:25] Manweill commented on #124
same with these example

[2020-11-09 08:27] pbn4 commented on #124
@Manweill They are not the same when strict null check is enabled. So is there a way to generate this 1st kind of interface I specified?

[2020-11-09 08:46] pbn4 commented on #124
I see that here https://github.com/Manweill/swagger-axios-codegen/blob/master/src/templates/template.ts#L44  is a check for nullable prop but an optional operator is always used. What do you think about adding optional operator based on `required` and `| null` union based on "nullable"?

[2020-11-09 16:34] Manweill commented on #124
set `codgen`  `options.strictNullCheck=true`

[2020-11-10 08:44] fairking commented on #117
PR is merged down, so closing the request.

[2020-11-10 08:44] #117 closed

[2020-11-17 03:39] Manweill commented on #124
[code]
![image](https://user-images.githubusercontent.com/7599653/99343546-145b5700-28c9-11eb-9072-750a8f724840.png)

@pbn4 There is only one difference between the two writing methods. When initializing obj, `a` must be defined, `b` is not

[2020-12-04 01:10] usman087 commented on #53
@Manweill any ETA when this will be fixed? I want to use this code-gen in my project but i am blocked due to this error. Almost all of our swaggers has params as "$ref".

[2020-12-04 01:29] Manweill commented on #53
@usman087
How did you get your `spec.json`, through the backend service?

[2020-12-04 02:56] usman087 commented on #53
The swagger specs are generated as part of CI/CD pipeline during build and are published on our internal npm feed.

[2020-12-04 06:03] Manweill commented on #53
@usman087
I don‘t understand.

[2020-12-04 17:29] haroldiedema commented on #53
@Manweill You support Models (definitions) being referenced via `$ref` in the schema. Parameters should behave the same way.

For example, alot of your end-points use the same parameter. It is useful for these parameters to be defined _once_ in your application, so you can simply _reference_ them instead of copy-pasting them repeatedly. The official swagger-codegen-cli supports this just fine.

I'

[2020-12-05 02:41] Manweill commented on #53
@haroldiedema
So, Your `spec.json` is written manually, not automatically generated through background services (such as c#, java, etc.)

[2021-01-14 14:27] danielgelling commented on #53
@Manweill No our `spec.json` is not written manually, that'd be insanely stupid. It is being generated by the [nelmio/NelmioApiDocBundle](https://github.com/nelmio/NelmioApiDocBundle).

[2021-02-24 08:24] Manweill commented on #53
@danielgelling
I don't have time to make any changes to this issue at this time, welcome PR.

[2021-03-02 12:16] ronangaillard opened #128 "Referenced enums in swagger are not handled as enum"
I have the following (simplified) json swagger :

[code]

And I'm generating code with the following parameters :

[code]

The generating code contains things like :

[code]

But `CarStatus` is an enum so it should not be transformed.

The issue only happens when enum are referenced.

I'm pretty sure tue issue comes from this part of the code (https://github.com/Manweill/swagger-axios-codegen/blob

[2021-03-02 12:55] charlesrollin commented on #128
Funny that you created an issue today, my team faced the exact problem a few days ago while enabling the `useClassTransformer` config to properly cast dates in the generated client !

[2021-03-05 15:30] ronangaillard commented on #128
@Manweill do you know how hard this would be to fix ?

I will be happy to contribute by creating a PR. Do you have any hints of how to fix this ?

I started to have a look and I thought that the fix would imply to get the referenced type value https://github.com/Manweill/swagger-axios-codegen/blob/69af03c84692ee14c963d7e3927fb64354986a06/src/componentsCodegen/propTrueType.ts#L17

Do you have a met

[2021-03-08 00:45] Manweill commented on #128
@ronangaillard don't set `useClassTransformer:true` , it work.

[2021-03-08 01:07] ronangaillard commented on #128
Unfortunately @Manweill I need class transfomer to handle date strings.

[2021-03-08 02:04] Manweill commented on #128
@ronangaillard
I try to fix this issue, and it generated well. can you testing it for me?
![image](https://user-images.githubusercontent.com/7599653/110265013-8d57f900-7ff5-11eb-90c9-ff47532bfacb.png)

[2021-03-08 10:49] ronangaillard commented on #128
This works perfectly thanks !

Unfortunately this implies that the format prop is filled in the swagger. I guess this must apply only to datetime strings. Is it an issue for you ? Are you going to merge this into the main branch ?

Thanks a lot :)

[2021-03-08 13:07] Manweill commented on #128
@ronangaillard Yes.
By the way, `useClassTransformer` was supposed to be format prop.

[2021-03-08 13:08] ronangaillard commented on #128
Should I make a PR @Manweill ?

[2021-03-10 03:07] Manweill commented on #128
@ronangaillard
No ,thanks.
This issue fix in `v0.11.15`.

[2021-03-11 14:07] mikaelnilsson77 commented on #53
There is a similar issue with using $ref for request bodies
...
"requestBody": {
    "$ref": "#/components/requestBodies/UserRole"
  },

  (node:19348) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'multipart/form-data' of undefined
    at Object.getContentType (C:\Repos\AddoCloudPlatform\Site\node_modules\swagger-axios-codegen\dist\requestCodegen\getContentType.js:10:144)

[2021-03-12 01:01] Manweill commented on #53
@mikaelnilsson77
What is your version of openapi and backend service?

[2021-03-12 07:41] mikaelnilsson77 commented on #53
"openapi": "3.0.2",

[2021-03-15 17:31] arkraft commented on #128
@ronangaillard

I know this issue is closed but i want to suggest a different solution to this problem. If class-transformer is used just for the dates i creates a bit of an overhead due to a new dependency and also because transforming is time consuming. We moved away from it a long time ago and use the axios `transformResponse` function with a custom reviver. This tests the value of each string

[2021-03-17 00:41] Manweill commented on #128
I think this is a good plan.
But there are two doubts.
First, you've only listed two common date formats so far, and there are many, many more.
Second, is there any danger that the the backend service return just for a String?

[2021-03-17 07:42] arkraft commented on #128
I only listed two because we use only two in our app. What i wanted to show is a way of how to get the dates out of the json. You could also check for the key if it contains "day" or "date", you could convert each string value to a Date and check if it a valid date.

I don't know if i got the second point correctly but i try to answer it the way i understood it. The reviver function has access to

[2021-03-17 08:10] Manweill commented on #128
So, I think this solution only provides an idea in `README`, but it can't be integrated into `repo`.
And then, add it , thx.

[2021-03-23 21:38] LuccaPrado commented on #31
Any update to that?

[2021-03-24 11:53] pumpkinlink commented on #31
In my case I'm unfortunately no longer working on the project I mentioned, so don't expect a PR from me anymore, at least on the foreseeable future... :/

[2021-03-29 17:32] amirjr1378 opened #130 "problem when you have same route with diffrent methods"
for example we have a /features get method and a /features put method , it will generate features and features1 but what i want is updateFeature and getFeature.
![image](https://user-images.githubusercontent.com/49060396/112876148-5f3c7500-90da-11eb-93b8-96aba2bb1805.png)

[2021-04-04 08:14] amirjr1378 opened #133 "support for cancel token"
change
export interface IRequestOptions {
  headers?: any;
  baseURL?: string;
  responseType?: string;
}
to support cancel token
it should be like

export interface IRequestOptions {
  headers?: any;
  baseURL?: string;
  responseType?: string;
  cancelToken: new CancelToken(function (cancel) {
  });
}

[2021-04-06 00:10] #130 closed

[2021-04-06 00:12] Manweill commented on #133
good idea!

[2021-04-07 03:33] Manweill commented on #121
Close up for a long time is not active Issue

[2021-04-07 03:33] #121 closed

[2021-04-07 03:34] #123 closed

[2021-04-07 03:36] Manweill commented on #113
Close up for a long time is not active Issue

[2021-04-07 03:40] #92 closed

[2021-04-07 03:40] #101 closed

[2021-06-08 05:32] #133 closed

[2021-06-29 14:40] medved72 opened #136 "Could not use allOf"
I have default example from https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/ :

[code]

When i try generate from this json scheme then i get empty interfaces:

[code]

[2021-06-29 16:44] asineath-dbhglobal opened #137 "basePath is undefined in multipleFileMode"
When services are generated with multipleFileMode=true, the 'basePath' variable in each individual service file is undefined. In index.defs.ts, the 'basePath' const is not exported. A solution would be to export 'basePath' in index.defs.ts and include it in the import statement at the top of each individual service file.

[2021-06-30 10:19] Manweill commented on #136
@arkraft @will7200
can you help him?

[2021-06-30 10:20] Manweill commented on #137
you can set basePath with axios config?

[2021-06-30 14:24] asineath-dbhglobal commented on #137
You're referring to the baseURL property in the axios config, which really refers to the host. 'basePath' is a part of the root structure of swagger spec, which indicates if all endpoint paths start with something like '/api'. (https://swagger.io/docs/specification/2-0/api-host-and-base-path/)

Our API doesn't have a universal basePath, so when I run swagger-axios-codegen with multipleFileMode=fal

[2021-07-01 00:54] #137 closed

[2021-07-07 20:28] digitalpacman opened #138 "Does not work on amazon seller partner api openapi specs"
https://raw.githubusercontent.com/amzn/selling-partner-api-models/main/models/fulfillment-outbound-api-model/fulfillmentOutbound_2020-07-01.json

It doesn't create a ton of the models. Any of the array types it looks like.

NotificationEmailList

NotificationEmailList: {
type: "array",
description: "A list of email addresses that the seller provides that are used by Amazon to send ship-complete no

[2021-07-08 07:49] Manweill commented on #138
@digitalpacman
Hey~
In the `spec.json` , do not define like this with  the `NotificationEmailList`  and others array types.

example for `NotificationEmailList`:

[code]

[code]

[code]

[2021-07-09 06:18] AdrianoRuberto opened #139 "IRequestOptions doesn't allow to use every AxiosRequestConfig options in TypeScript strict mode."
I'm trying to use `onUploadProgress` when I'm uploading a file, but as I'm using TypeScript in strict mode, I can't pass it to the options.

The service call I'm trying to do:
[code]

The problem is that the options don't extends `AxiosRequestConfig` but readd some of them ?

When I cast (ie: `{onUploadProgress: event => ...} as any`) the `onUploadProgress` is working fine.

I'm suggesting to use

[2021-07-09 06:34] Manweill commented on #139
emmm，I don‘t got

[2021-07-09 07:37] AdrianoRuberto commented on #139
The generated service:
[code]

The problem with this is I can't call `FileService.upload({file}, {onUploadProgress: (event) => ....})` because `onUploadProgress` isn't declared in `IRequestOptions`.

There is 2 solutions I propose:
- Replace `IRequestOptions` by `AxiosRequestConfig` (because that's what the options for axios are)
- Extends `IRequestOptions` with `AxiosRequestConfig` to allow the u

[2021-07-09 07:48] #139 closed

[2021-07-09 07:54] Manweill commented on #124
Long time is not active!

[2021-07-09 07:54] #124 closed

[2021-07-12 12:49] AdrianoRuberto opened #140 "The header for the generated file is duplicated"
For the following code:
[code]
I get the this:
![image](https://user-images.githubusercontent.com/17402643/125289338-6dc43a80-e31f-11eb-94b8-5db6ce32b3a3.png)

Also it's better to use `@ts-nocheck` instead of `@ts-ignore` because `@ts-ignore` will only work for the line below it, but `@ts-nocheck` will disable the checking for the entire file.

[2021-07-13 01:50] Manweill commented on #140
Welcome PR

[2021-07-25 15:48] #140 closed

[2021-07-25 15:48] Manweill commented on #140
fix this issue in v0.12.5

[2021-07-27 01:12] will7200 commented on #136
codegen doesn't account for top level entities for allOf or oneOf.
If you assign the allOf to a property of a model it works as intended.

[2021-08-03 09:17] vvsevolodovich opened #141 "Handle missing names of parameters"
Imagine part of the spec:

[code]

Formally, the param names are missing. The generator issuing an error:

getRequestParameters.js:19
        if (!v.name.includes('[0]')) {
                    ^

TypeError: Cannot read property 'includes' of undefined

There are 2 possible improvements here:

1) Improve the error message to something like "Missing required 'name' of parameter for <operationId>"
2)

[2021-08-03 11:33] Manweill commented on #141
not supported like that. you can refer to example

[2021-08-03 11:46] vvsevolodovich commented on #141
Yeah, I got it's not supported. The question is do we want to support? If not, would we like to improve the error mesage?

[2021-08-11 07:30] wimdetroyer opened #143 "Feature request: allow configuration of response, only data, or AxiosResponse<data>"
Currently, all responses are automatically resolved to axios.response.data, however, sometimes it is useful to have the wrapping **AxiosResponse**:

[code]

For example: say I make a PUT request to create an entity, my API will return a status code 201 with a HTTP location header filled in like: www.example.com/api/v1/entity/123. Having access to this header would make my life a bit easier, howeve

[2021-08-12 12:23] wimdetroyer commented on #143
@Manweill Yes.

[2021-08-19 07:12] hemocy opened #144 "我想axios resolve(res)，该怎么配置"
由于项目之前都是resove(res),现在换用这个导出的api,返回的和以前不同，代码要改的地方太多。有没有方法或者配置项修改？
![image](https://user-images.githubusercontent.com/29173748/130024450-c9cf269d-86ad-4ecc-897c-2e10d69542f9.png)

[2021-08-19 08:41] Manweill commented on #143
#144

[2021-08-19 08:42] Manweill commented on #144
你这个应该是跟144同一个需求，不过我暂时没时间调整。先归到一类去。或者你们可以自己PR

[2021-08-19 08:42] #144 closed

[2021-08-19 08:48] Manweill commented on #144
如果你不考虑返回结果的提示话，可以直接在 `axiosClient.interceptors.response.use`里面做处理

[2021-08-19 08:54] hemocy commented on #144
还有个问题，生成的api返回值都是promise<any>,$ref没有生效一样 swaggerv3版本
![image](https://user-images.githubusercontent.com/29173748/130039153-3ee18527-e46d-4abd-8c73-3c814514d9e3.png)
这个$ref,生成代码后
![image](https://user-images.githubusercontent.com/29173748/130039444-b057bda3-18cd-40bc-9dcb-579836e1093e.png)
，如何生成正确的res.data类型，而不是都是any?
盼回复~thx

[2021-08-19 09:13] Manweill commented on #144
![image](https://user-images.githubusercontent.com/7599653/130042384-689545cf-42f0-46dd-9621-3de3c3b971c9.png)

应该是这个的原因，这里需要是 `application/json`

[2021-08-19 09:27] hemocy commented on #144
感谢大佬，have a nice day!

[2021-09-22 11:37] SinBirb opened #151 "Cannot use isAxiosApiError"
Hi,

because axios() gets defined as a custom function, I can't use `axios.isAxiosApiError()` ([docs](https://github.com/axios/axios#typescript)).

Is there another good way to use it?

[2021-09-23 02:55] Manweill commented on #151
i not seet `axios.isAxiosApiError()`

[2021-09-23 03:00] Manweill commented on #151
u can use an `interceptors.response`

[2021-09-23 07:02] SpineEyE commented on #151
Sorry, I meant `axios.isAxiosError`. I don't want to use an interceptor because it's an error specific to one request.

[2021-09-23 07:03] SinBirb commented on #151
Sorry, I meant axios.isAxiosError. I don't want to use an interceptor because it's an error specific to one request.

[2021-09-23 08:05] Manweill commented on #151
i meant `axios` is default instance from lib

[2021-09-23 16:33] #141 closed

[2021-09-30 07:58] VincentVanclef opened #152 "why is responseType omitted?"
Hi there, why is responseType omitted?

Ive got an endpoint which returns a FileResult, and thus i need to change the responseType from json to blob. Why is this omitted?

export interface FullRequestParams extends Omit<AxiosRequestConfig, "data" | "params" | "url" | "**responseType**"> {

Also, why isnt it possible to change this on the fly? Currently this:

[code]

Prevents me from changing it t

[2021-10-05 09:57] fairking opened #153 "Creating objects with strong type validation"
In my case the codegen is generating the following class code:
[code]
When I create objects, it looses the strong type due to `constructor(data: undefined | any = {})`.
The following code will be valid and won't throw any compiler errors:
[code]
So if my class' property `name` changes to `title` I have no validation over whether there any issues across the entire project.

Is there any idea how to

[2021-10-05 10:04] fairking commented on #153
I was also thinking about empty constructor and then I found somewhere the following [sintax](https://zohaib.me/creating-object-based-on-interface-type-in-typescript/):
[code]
But it doesn't work in lambda expressions:
[code]

IMHO how constructor is generated by codegen is way too loose and I think we can improve that part to make it more strong.

[2021-10-11 01:07] Manweill commented on #152
i dont get what you say

[2021-10-26 00:42] Maxim-Mazurok opened #154 "useHeaderParameters is not optional"
Related to #111

As far as I understand, `useHeaderParameters` should be optional, and defaults to `false`, but marked as required in `ISwaggerOptions`

[2021-10-26 01:05] #154 closed, assigned to nobody

[2021-12-03 16:13] MinaroShikuchi commented on #113
Sorry for reopening but I can't see why I get this error

[code]

[2021-12-04 12:12] Manweill commented on #113
any details?

[2021-12-04 12:39] MinaroShikuchi commented on #113
Yes sorry,

[code]

[2021-12-06 11:19] Manweill commented on #113
i will try it.

[2021-12-19 17:48] Manweill commented on #113
only use one content-type with params

[2021-12-19 18:15] Manweill commented on #113
@MinaroShikuchi fix in v0.12.9

[2021-12-19 19:05] MinaroShikuchi commented on #113
It works great. Thanks a lot !

[2021-12-21 07:56] #113 closed

[2022-03-31 07:04] Manweill commented on #53
@MartinLoeper Emmm.... and then?

[2022-03-31 10:27] smackgg opened #159 "Response Promise any"
[code]

为啥还有 Promise<any> 这个问题。。看之前的 issue 已经解决了。

[code]

[2022-03-31 14:54] Manweill commented on #159
你对比下你的swagger json  与 exmaple的例子

[2022-03-31 14:54] #159 closed

[2022-03-31 16:02] MartinLoeper commented on #53
Uhm, let me elaborate:

I was working on a customer's **OData API** that provided a swagger documentation (OpenAPI 3.0.0) and I wanted to auto-generate a typescript client using this package. Unfortunately, it produced incorrect parameters as the swagger spec used 'ref' for the common OData parameters such as: `"$ref": "#/components/parameters/expandParam"` (similar to [thread opener's example abo

[2022-04-01 03:44] #152 closed

[2022-04-01 05:43] Manweill commented on #53
@mikaelnilsson77 it's great.

[2022-04-02 06:41] smackgg commented on #159
@Manweill 除了 response 那里用的 $ref 其它的没看出来区别，为什么一定要 ref 才能推出类型？

[2022-04-06 09:13] Manweill commented on #159
这么明显都看不出来吗，不是ref的问题，是content。你这手打的，生成的基本不会是你的结构

[code]

[2022-04-06 09:16] smackgg commented on #159
@Manweill 就是生成的，并不是手打的。你发的这个是 swagger3，swagger2 content 就是我发的那样的

[2022-04-07 01:12] Manweill commented on #159
@smackgg 不好意思，确实是我这边没有处理这种形式。你可以参考 #53 的解决方案看看。

[2022-04-24 11:04] HongLinLiao opened #161 "generate cofig field "enumNamePrefix" is not working"
I set enumNamePrefix as null or undefined or empty string, but after code gen, enum name like 'EnumTestClientAgentInfoBrowserType'?

[2022-04-26 02:10] Manweill commented on #161
yes, it's a fake feature

[2022-04-27 11:57] Lyncee59 opened #162 "Enum used as querystring parameters, not taken in account for GET endpoints"
Hey guys,

Thanks first for your work, really like your library.

Recently, we had to create a more complex GET endpoints where we can pass some filtering/sorting options, represented by Enums in swagger like :

[code]

Just realised those specific Enums representing specific values to pass through the querystring, were not generating any specific types, and our generated GET endpoint is:
(Note th

[2022-04-27 12:01] Lyncee59 commented on #162
Note that also wondering if that has nothing to do with how Swagger represent the contract =>
[code]
(swagger 2.0)

[2022-04-27 12:11] Lyncee59 commented on #162
Just double checked and this same shape is also used for responses contracts, though it is still generating the Enums correctly. So not likely to be the root cause of the problem.

[2022-05-01 10:14] fairking opened #163 "Error Cannot read properties of undefined version.startsWith"
I have got the following error when I run codegen against a very simple schema:
[code]

swagger settings:
[code]

schema.json:
[code]

[2022-05-01 11:10] fairking commented on #163
ok, in my case it was my mistake:
instead of this:
[code]
it needs to be this:
[code]

[2022-05-01 11:10] #163 closed

[2022-05-09 05:30] Manweill commented on #138
inactive close

[2022-05-09 05:30] #138 closed

[2022-05-26 03:35] #162 closed

[2022-05-26 03:36] #161 closed

[2022-05-26 03:36] #151 closed

[2022-05-26 03:38] #53 closed

[2022-05-26 03:38] #110 closed

[2022-05-26 03:39] #136 closed

[2022-05-26 03:40] #31 closed

[2022-05-26 03:45] wizofaus commented on #109
This is still something I believe swagger codegen would benefit from, and I was happy to contribute an implementation, but I'd hoped for confirmation that you thought my proposal made sense...

[2022-05-26 06:24] Manweill commented on #109
so, what your mean? and codegen result like ？do you provide an example?

[2022-05-26 07:14] wizofaus commented on #109
Completed untested, but perhaps something like

[code]

[2022-05-27 06:37] Manweill commented on #109
look forward to you submit full example

[2022-06-09 16:37] Luifr opened #164 "OperationId to camelcase and include"
I was trying to use include to filter out the requests to be generated, but it wasnt working, i was getting an empty class

Looking through the source code (/src/requestCodegen/index.ts)
I found out that the methodName variable (operationId) is transformed to camelCase.
For the include filter (param of codegen method) to work i have to get the operationId from the swagger.json and also transform t

[2022-06-13 01:06] Manweill commented on #164
yes，it use generated `methodName` to filter. it should support `methodNameMode=path`

[2022-06-14 01:29] #164 closed

[2022-06-29 02:31] UnicornXU commented on #163
仍未解决
const { codegen } = require('swagger-axios-codegen')
const root = 'http://whaleapi.internal.zhcxkj.com/'
codegen({
    methodNameMode: 'operationId',
    remoteUrl: root + '/profit/v2/api-docs',
    outputDir: './src/api/profit'
});

[2022-09-16 09:56] Korolev-Oleg opened #165 "Defective components"
Defective components: `axios@0.21.2` - Direct introduction
*  Vulnerability Title: Axios Security Vulnerability
*  Impact Description: Axios is an HTTP client based on Promise (a solution for asynchronous programming). A security vulnerability in  Axios stems from the discovery of a ReDoS (Regular Expression Denial of Service) defect in the axios package. An attacker could exploit the vulnerabilit

[2022-09-17 08:05] Manweill commented on #165
fix in v0.14.1

[2022-09-17 08:05] #165 closed

[2022-09-17 08:05] Manweill commented on #165
fix in v0.14.1

[2022-09-19 10:52] nathanguigui opened #166 "Codegen fail when dash is present in definition"
Codegen fail when dash (-) is present in definitions

Swagger screenshot:
![Capture d’écran 2022-09-19 à 12 47 41](https://user-images.githubusercontent.com/39025228/191001941-1539acbd-04aa-4dc2-a007-7375638bd171.png)

Env:
[code]

Error:
[code]

I found a temporary solution that is to fetch the content of the file and replace dash by underscore
[code]

[2022-09-20 04:41] Manweill commented on #166
The name cannot be specially symbol

[2022-09-20 04:41] Manweill commented on #166
The name cannot be specially symbol

[2022-09-20 04:49] #166 closed

[2022-10-20 06:08] Lauyuenn opened #167 "A problem in v0.14.2 ..."
![image](https://user-images.githubusercontent.com/31093734/196869196-15874f68-78be-4e72-b2a3-54093b71c2f9.png)

[2022-10-26 00:22] Manweill commented on #167
fixed in v0.14.3

[2022-10-26 00:22] #167 closed

[2022-11-07 15:49] lucasdale99 opened #168 "Version - 0.15.0: Auto Generated Names Issue"
When I run npm run api, which cleans and runs codegen, it's shortening the service names and populating the view models with "_" in the names.

Example of the issue:
![image](https://user-images.githubusercontent.com/47707510/200352968-2c2d1917-598d-4c0e-9010-766cfb288c29.png)
![image](https://user-images.githubusercontent.com/47707510/200353032-8977944f-51f2-4de5-b637-7c3e817e50eb.png)

My Curren

[2022-11-08 01:31] #168 closed

[2022-11-08 16:17] lucasdale99 opened #169 "Version 0.15.1 Populated Services and ViewModels have Underscore in front of names"
The fix for 0.15.0

https://github.com/Manweill/swagger-axios-codegen/commit/6c51ee6ae8ef2997dc5696dc14b0aaeaf05b7a53

Fixed the issue with names not showing up correctly, but now all the services and view models have an underscore in front of the name.

Link to previous issue: https://github.com/Manweill/swagger-axios-codegen/issues/168

[2022-11-09 01:45] Manweill commented on #169
can u post your code?

[2022-11-09 03:35] #169 closed